body 
{
    margin: 0px;
}
.header
 {
    background-color: #e7f2f4;
    margin: auto;
    width: 98%;
    text-align: center;
    padding: absolute;
    padding-bottom: absolute;
}
.header p 
{
    font-size: 20px;
    color: #64A1D0;
	position: absolute;
	left: 5px;
	top: 30px;
	
}
.header h1 
{
    font-size: 28px;
    color: #435B6E;
	position: absolute;
	left: 5px;
	top: 0px;
}
body 
{
    background-color: #CCE4F6;
}

#circle 
{
    position: absolute;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50px;

    display: none;
}

.butheader1
{
    margin: auto;
    text-align: center;
}




